entrypoint = "main.py"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Next Dev Server"

[[workflows.workflow]]
name = "Run Dev Server"
author = 39332158
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Run Dev Server"
author = 39332158
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Next Dev Server"
author = 34352409
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx kill-port 3000"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -p 3000 -H 0.0.0.0"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000
